@import "tailwindcss" source("./");
@import "../../src/theme.css";
@import "tw-animate-css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    margin: 0;
    font-weight: 450;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
